


<div class="header">		
	</div>
	<div class="maincontainer">
		<div class="row">
			<div class="boxleftnewsletter">
				<a href="serious_game.php"><img src="files/serious-game-home.jpg" /></a>
			</div>
			<div class="boxrightnewsletter">
				<a href="experience.php"><img src="files/360-experience-home.jpg" /></a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
		<div id="footer">
		<div class="wrap">			
			<div class="right">
				<div id="byeu">
					<p>With the support of the<br />Culture Programme of the European Union</p>
					<a href="#"><img src="images/eu_culture.jpg" alt="EU Culture" /></a>
				</div>				
			</div>
			<div class="clear"></div>
		</div>
	</div>

</body>

</html>