/*
font-family: 'Amatic SC', cursive;
normal
font-weight: 400;
bold
font-weight: 700;
*/

::-webkit-input-placeholder { /* WebKit browsers */
    color: #413329;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #413329;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #413329;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #413329;
}
.text-right{
	text-align: right;
}	

.amatic_normal{
	font-family: 'Amatic SC', cursive;
	font-weight: 400;
}

.amatic_bold{
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
}


*{
	margin:0px;
	padding:0px;
	outline-color: #ae3e0a;
}

a{
	color: #fff;
}

#byeu{
	display: inline-block;
	padding-right: 30px;
	a{
		cursor: default;
	}
}

body{
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 13px;
	line-height: 18px;
	color: #fff; 
	background: url("../images/bg_main.jpg") center top repeat;
}

.clear{
	clear: both;
}


#header{
	background-color: #1d1715;
	height: 87px;
}
.header {
	background-image: url("../files/Mandela27-home.jpg");
	background-size: cover;
	background-position: center -25px;
	height: 405px;
	border-bottom: 5px solid #a15c1d; }
.maincontainer.page {
	width: 970px;
	margin: 0 auto;
	#content.page {
		#left{

			float: left;
			img{
				
			}
			a{
				text-decoration: none;
			}
			#about_picture_container{
				background-color: #fff;
				#about_picture{
					width: 240px;
					height: 200px; 
					margin:0px auto;	
				}

			}
			.extraspacing{
				padding-bottom: 100px !important;
			}
			.content{
				position:relative;
				padding: 35px;
				ol{
					margin-left: 20px;
				}
				ul{
					margin-left: 20px;
					margin-bottom: 20px;
					color: #facdbc;
				}
				.event270213{
					margin-left: 20px;
					margin-bottom: 20px;
					color: #facdbc;
				}
				.title{
					h2{
						margin-bottom: 10px;
					}	
				}
				.whitelink{
					font-size: 15px;
					word-spacing: 1px;
					letter-spacing: 1px;
					text-decoration: none;
				}
				.img{
					background-color: #ffffff;
					width: 462px;
					padding: 5px;
					margin-bottom:25px;
				}
				.linkbg{
					background-color: #b0641e;
					border-radius: 15px;
					.amatic_normal;
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
				}
				.smalllink{
					color: #000000;					
					font-size: 30px;
					padding: 35px 20px;					
				}
				.smallerlink{					
					color: #000000;					
					font-size: 25px;
					padding: 20px 20px;					
				}	
				.biggerlink{
					color: #ffffff;					
					font-size: 17px;
					padding: 15px 20px;
					margin-bottom: 25px;
					font-family: 'Amatic SC', cursive;
					background-color: #b0641e;
					border-radius: 15px;
					text-transform: uppercase;
					text-align: center;
				}
				.techerheading{
					color: #f5c6b1;
					font-size: 25px;
					margin-bottom: 25px;
					font-family: 'Amatic SC', cursive;
					text-transform: uppercase;
					text-align: center;
				}
				.biglink{
					width:240px;				
					color: #332317;					
					font-size: 25px;
					padding: 10px 30px;
					background-color: #b0641e;
					border-radius: 15px;
					.amatic_normal;
					font-weight: bold;
					text-transform: uppercase;
					text-align: center;
					position: absolute;
					bottom: -94px;
					right: 37px;
					p{
						margin: 0px;
						line-height: 21px;
					}					
					a{
						color: #332317;
						text-decoration: underline;
						padding: 10px 9px 3px 9px; 
						display: inline-block;
					}		
				}
				.underlinea{
					text-decoration: underline;			
					}
				.underline{
					color: #d7751a;					
					margin-bottom: 15px;
					font-size: 12px;
					font-weight: bold;
				}
				.outlink{
					position: absolute;
					bottom: -45px;
					right: -50px;
				}
				.leftlink{
					position: absolute;
					bottom: -35px;
					left: 25px;
				}
				.rightlink{
					position: absolute;
					bottom: -35px;
					right: 25px;
				}		
				.center{
					text-align: center;
				}
				.boxevents {
					height: 238px;
					width: 484px;
					margin-bottom: 35px;
					position: relative;
					.eventstitle{
						background: url("../images/eventstitle.png");
						width: 100%;
						position: absolute;
						bottom: 0px;
						padding: 7px 0 15px 0;
						h2,
						.short_intro {
							padding-left: 20px;
						}
					}	
					.datebox {
						background: url("../images/bg-date.png") no-repeat center center;						
						width: 81px;
						position: absolute;
						bottom: -16px;
						right: 3px;
						padding-top: 30px;
						line-height: 12px;
						text-transform: uppercase;
						text-align: center;
						font-size: 38px;
						.amatic_normal;						
						.year{							
							display: block;
							padding-top: 22px;
							padding-bottom: 14px;
							font-size: 22px;
						}
					}		
				}
				.newstitle{
					min-height: 95px;
					.datecontainer{
						background: url("../images/bg-date.png") no-repeat center center;
						height: 82px;
						width: 81px;
						text-transform: uppercase;
						text-align: center;
						font-size: 32px;
						.amatic_normal;
						.year{
							font-size: 22px;
							display: block;
						}
						.date{
							display: block;
							padding-top: 22px;
							padding-bottom: 14px;
						}
						float: left;
					}					
					h2{
						padding-left: 105px;
					}	
					.smalltitle{
						margin-left: 105px;
						margin-bottom: 10px;
						color: #facdbc;
					}	
					.smalltitleorange{
						margin-left: 105px;
						color: #a55f1f;
					}	
					.location{
						padding-left: 10px;
						color: #a55f1f;
						float: left;
					}
					a{
						text-decoration: none;
					}	
				}
				
				.backtoteam{
					a{	
						img{
							margin-right: 5px;
							margin-top: 3px;
						}
						color: #a55f1f;
						text-decoration: none;
						.amatic_normal;
						font-size: 24px;
					}
					&.bottom{
						margin-top: 30px;
					}
				}				
				h2{								
					padding: 0 0 5px 0;
					.amatic_normal;
					font-size: 40px;
					text-transform: uppercase;
					line-height: 40px;
				}
				.short_intro{
					color: #a55f1f;
					margin-bottom: 50px;
				}
				p{
					margin-bottom: 20px;
					color: #ffffff;
					letter-spacing: 1px;
					line-height: 20px;					
				}
				.brown{
					color: #facdbc;
					letter-spacing: 1px;
					font-size: 21px;
					line-height: 27px;
				}
				.orange{
					color: #a55f1f;
				}
				.orangelinkunderline{
					color: #a55f1f;
					text-decoration: underline;
				}
				.orangelink{
					color: #a55f1f;					
				}
				.white{
					color: #ffffff;
				}
				.download {
					color: #FFF;
					font-size: 24px;
					font-family: 'Amatic SC', cursive;
					font-weight: 400;
					letter-spacing: 2px;
					float:right;
					background-color:#ae3e0a;
					padding: 5px 15px;
					border: 3px solid #382516;
				}
				p:last-child{
					margin-bottom: 0px;
				}
				margin: 0px 5px 40px 5px;				
				background-image: url("../images/contbg.png");				
			}
			.content.small {
				padding:25px;
				.white{
					font-size:12px;
				}
				.newstitle {
					min-height:85px;
				}
			}
			width: 570px; 
			.about_team_list{
				margin: 0px !important;
				li{
					list-style: none;
					float: left;
					margin-right: 5px;
					margin-bottom: 5px;
					img {
						display: block;
					}
					.logo-coventry {
						width:240px;
						height:200px;
						display:block;
						background-image: url('../files/logo-coventry.png');
					}
					.logo-coventry:hover {
						background-image: url('../files/logo-coventry-over.png');
					}
					.logo-tcsdw {
						width:240px;
						height:200px;
						display:block;
						background-image: url('../files/logo-tcsdw.jpg');
					}
					.logo-tcsdw:hover {
						background-image: url('../files/logo-tcsdw-over.png');
					}
					.logo-elderberry {
						width:240px;
						height:200px;
						display:block;
						background-image: url('../files/logo-elderberry.jpg');
					}
					.logo-elderberry:hover {
						background-image: url('../files/logo-elderberry-over.png');
					}
					.logo-northwestun {
						width:240px;
						height:200px;
						display:block;
						background-image: url('../files/logo-northwestun.jpg');
					}
					.logo-northwestun:hover {
						background-image: url('../files/logo-northwestun-over.png');
					}
					.logo-robbenisland {
						width:240px;
						height:200px;
						display:block;
						background-image: url('../files/logo-robbenisland.jpg');
					}
					.logo-robbenisland:hover {
						background-image: url('../files/logo-robbenisland-over.png');
					}
				}
			}
			form{
				.inputfield{
					background-color: #c29577;
					width: 335px;
					height: 40px;
					border: none;
					color: #413329;
					padding-left: 10px;
					padding-right: 10px;
					float: right;
					margin-bottom: 10px;
				}
				.inputfielddrop{
					background-color: #c29577;
					width: 355px;
					height: 40px;
					border: none;
					color: #413329;
					padding-left: 10px;
					float: right;
					margin-bottom: 10px;
				}
				.inputfieldbig{
					.inputfield;
					height: 145px;
					float: right;
					padding-top: 15px;
				}
				label{
					margin-top: 10px;
					width: 120px;
					float: left;
					text-align: right;
					color: #facdbc;
				}
				.submit{
						background: url("../images/btn_sendmessage.png") no-repeat left center;
						text-indent: -9999px;
						width: 162px;
						height: 54px;
						border: none;
						float: right;
						cursor: pointer;
				}			
			}
		}
		#right{
			float: right;
			.box{
				width: 280px;
				h3{								
					padding: 8px 0 8px 0;
					.amatic_normal;
					font-size: 30px;
					margin-bottom: 13px;
				}
				ul.intouch{
					a{
						color: #facdbc;
						text-decoration: none;
						border: none;
					}
					li{
						margin-bottom: 8px;
						list-style: none;
						height: 33px;
						padding-left: 40px;
						line-height: 33px;
						word-spacing: 2px;
						letter-spacing: 1px;
						span{
							color: #d7751a;
							letter-spacing: 1px;
						}
						&.twitter{
							background: url("../images/twitter_round.png") no-repeat left center;
						}
						&.facebook{
							background: url("../images/facebook_round.png") no-repeat left center;
						}
						&.rss{
							background: url("../images/rss_round.png") no-repeat left center;
						}
						.amatic_normal;
						font-size: 20px;
					}
				}
				
				ul.eventlist{
					padding-left: 15px;
					li {
						padding-bottom: 7px;
					}
					a{
						color: #d7751a;
						text-decoration: none;
					}
				}
				
				.submit{
					background: url("../images/btn_subscribe_now.png") no-repeat left center;
					text-indent: -9999px;
					width: 161px;
					height: 54px;
					border: none;
					float: right;
					cursor: pointer;
					margin-top: 5px;
				}
				.inputfield{
					background-color: #c29577;
					width: 254px;
					height: 40px;
					border: none;
					color: #413329;
					padding-left: 10px;
					padding-right: 10px;
				}
				background-image: url("../images/rightboxbg.png");
				padding: 35px;
				margin-bottom: 50px;
			}
		}
	}
}

.maincontainer{
	width: 960px;
	margin:0px auto;
	.pagetitle {
		width: 100%;
		background: url('../images/bg-title.png');
		height: 60px;
		text-align: center;
		margin-bottom: 60px;
		margin-top: 60px;
		#text {
			.amatic_normal;
			line-height: 60px;
			font-size: 65px;
			text-transform: uppercase;
		}
		div {
			display: inline-block;
			vertical-align: top;
			height: 60px;
			background: url("../images/bg_main.jpg") center -164px repeat-x;
		}
	}
	.row {
		margin-top: 50px;
		.boxleft{
			float: left;
			width: 451px;
			height: 231px;
		}
		.boxright{
			float: right;
			width: 451px;
			height: 231px;
		}
	}
	#linkbar{		
		&.page {			
			height: 37px;
		}
		height: 87px;
		margin: 20px 0 20px 0;
		#byeu{
			width: 400px;
			font-style: italic;
			font-size: 10px;
			line-height: 14px;
			float: right;			
			p{	
				margin-right: 10px;
				text-align: right;
				float: left;
			}
		}
		#socialmedia_links{
			float: right;
			clear: right;
			margin-top: 15px;
			ul{
				li{
					float: left;
					list-style: none;
					margin-left: 10px;
				}
			}
		}		
	}

	#content.home{
		#left{	
			margin-right: 30px;
			width: 450px;
			float: left;
			#main_article{
				margin-bottom: 30px;
			}		
			#events{	
				background: url("../images/bg_events.jpg") center top;
				width: 450px;
				height: 90px;
				margin-bottom: 30px;
				a{
					text-decoration: none;
				}
				.date{
					padding: 36px 30px 36px 20px;
					.amatic_normal;
					font-size: 48px;
					float: left;
					color: #403129;
				}
				.title{
					padding-top: 28px;
					font-weight: bold;
					color: #1e1d1a;
					font-size: 17px;
					line-height: 18px;
					
				}
				.location{
					font-size: 17px;
					font-weight: bold;
					line-height: 18px;
					color: #403129;
					
				}
			}
			#about{
				h2{
					padding: 8px 0 8px 0;
					.amatic_normal;
					font-size: 40px;
					margin-bottom: 20px;
				}
				p{
					margin-bottom: 20px;
				}
				.readmore{
					margin-left: -5px;
				}
			}
		}
		#right{
			width: 480px;
			float: left;
			#slider{
				width: 480px;
				.bx-wrapper {
					margin: 0 0 30px;
				}
				.bx-wrapper .bx-pager{
					line-height: 0px;
					font-size: 0px;
					text-align: right;
				}
				.bx-wrapper .bx-viewport{
					border: none;
					box-shadow: none;
				}
				.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
					bottom: 10px;
					right: 15px;
				}
				.bx-wrapper .bx-pager.bx-default-pager a{
					background: #40322a;
					margin: 0 4px;
				}
				.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
					background: #cd6d15;
				}
				.bx-wrapper .bx-viewport {
					left: 0px;
				}
			}	
			#social_media{
				margin-bottom: 30px;
				ul{
					li{
						padding: 10px;
						margin-bottom: 3px;
						background-color: #000;
						list-style: none;
						.icon{
							display: block;
							float: left;
							padding: 12px 10px 5px 0;
						}
						.text{
							font-size: 12px;
						}
						.info{
							font-size: 10px;
							color: #c95c3a;	
						}
					}
				}
			}	
			#link_blocks{
				ul{
					list-style: none;
					li{
						text-align: center;
						float: left;
						height: 113px;
						width: 238px;
						.amatic_normal;
						font-size: 30px;
						margin-bottom: 4px;
						&.odd{
							margin-right: 4px;
						}
						&.button1{
							background: url("../images/buttons/1.png") no-repeat left top;
						}
						&.button2{
							background: url("../images/buttons/2.png") no-repeat left top;
						}
						&.button3{
							background: url("../images/buttons/3.png") no-repeat left top;
						}
						&.button4{
							background: url("../images/buttons/4.png") no-repeat left top;
						}
						&.button5{
							background: url("../images/buttons/5.png") no-repeat left top;
						}
						&.button6{
							background: url("../images/buttons/6.png") no-repeat left top;
						}
						p{
							margin-top: 45px;
						}
					}
				}
			}	
		}
		
	}
}


#footer{
	margin-top: 75px;
	background-image: url("../images/footerbg.png");
	font-size: 12px;
	padding: 15px 0px;
	.wrap{
		width: 970px;
		margin:auto;
	}
	p{
		font-size: 11px;
		font-style: italic;
		padding-right: 5px;
		line-height:14px;
		display: inline-block;
	}
	a{
		text-decoration: none;
		color: #a55f1f;
		padding-right: 8px;
	}
	.left{
		float: left;
		color: #a55f1f;
		padding-top: 9px;
	}
	.right{
		float: right;
		width: 450px;
		text-align: right;
	}
}




/*MAIN MENU*/
#menubar{
	a{
		border: none;
	}
	background-img: url("../images/headerbg.png");
	padding: 20px 0 10px 0;
	h1{
		background: url("../images/logo.png") left top;
		width: 107px;
		height: 57px;
		text-indent: -9999px;
		float: left;
	}
	
	ul#nav {float: right; .amatic_normal; font-size: 22px; line-height: 36px; text-transform: uppercase; letter-spacing: 2px; }
	ul.drop a { display:block; color: #fff; text-decoration: none; padding-bottom: 3px; border-bottom: 1px solid #1d1715; }
	ul.drop a:hover { border-bottom: 1px solid #b0641e; }
	ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; color: #fff;}
	ul.drop { position: relative; z-index: 597; float: left; }
	ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 5px 10px 0px; }
	ul.drop li:last-child { padding: 5px 0px 5px 10px; }
	ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default;  }
	ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: -10px; z-index: 598; width: 265px; background: #1d1715; padding-top: 3px; }
	ul.drop ul li { float: none; }
	ul.drop ul ul { top: -2px; left: 100%; padding-top: 10px; }
	ul.drop ul li a { color: #b0641e; padding-bottom: 0px; padding: 5px 10px; font-size: 18px; }
	ul.drop ul li a:hover { border-bottom: 1px solid transparent; color: white; }
	ul.drop li:hover > ul { visibility: visible }
	ul.drop li.l1{margin-left: 10px;}
	
}